.movieCard{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.5s;
}

.movieCard:hover{
    opacity: 0.5;
    transform: translateY(-30px);
    transition: 0.5s;
}

.moviimage{
background-position: center;
  background-size: cover;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.255)
}